.container {
  width: 100%;
  min-height: calc(100vh - 80px);
  background-color: #39445a;
  margin-top: 80px;
}
.show-details-container {
  width: 1200px;
  min-height: 500px;
  margin-left: 50%;
  transform: translateX(-50%);
  background-color: #39445a;
}
.show-details-box {
  display: flex;
  margin-top: 30px;
}
.show-name {
  font-size: 25px;
  font-family: sans-serif;
  color: white;
  letter-spacing: 3px;
}
.show-image {
  width: 250px;
  height: fit-content;
  margin-top: 30px;
}
.show-details-div {
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-left: 35px;
  margin-top: 50px;
}
.show-details-div p {
  color: white;
}
.show-details-div span, a {
  color: #f66e7b;
}
.show-summary-text {
  margin-top: 8px;
}
.book-ticket-btn {
  width: 250px;
  height: 40px;
  background: linear-gradient(to right, #ff7f50, #ff4f70);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-family: monospace;
  cursor: pointer;
  margin-top: 50px;
  margin-bottom: 20px;
}
.book-ticket-btn:hover {
  background: linear-gradient(to right, #ff4f70, #ff7f50);
}

/* Media */
@media (max-width: 1300px) {
  .show-details-container {
    width: 1000px;
  }
}
@media (max-width: 1080px) {
  .show-details-container {
    width: 90%
  }
}
@media (max-width: 700px) {
  .show-details-box {
    flex-direction: column;
    align-items: center;
  }
  .show-image {
    width: 300px;
  }
  .show-name {
    text-align: center;
    font-size: 35px;
  }
  .show-details-div {
    text-align: center;
    margin-top: 10px;
    margin-left: 0px;
  }
}
@media (max-width: 350px) {
  .show-image {
    width: 100%;
  }
  .show-name {
    font-size: 30px;
  }
  .show-details-div {
    font-size: 18px;
  }
  .book-ticket-btn {
    width: 200px;
  }
}